body {
    font-family: Noto Sans, sans-serif;
    background: gray;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*heading*/
h1 {
color: orange;
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background: black;
    text-align: center;
}
/*the app container*/
.container {
    background-color: rgb(44, 44, 44);
    background-size: cover;
    margin: auto;
    width: min(70%, 500px);
    height: 500px;
    margin-top: 100px;
}
/*buttons that create names*/
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;

}

.first-name-male {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: orange;
    cursor:pointer;
    padding:13px 33px;
    text-align: center;
}

.first-name-male:hover {
	background-color:rgb(255, 201, 101);
}

.first-name-female {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: orange;
    cursor:pointer;
    padding:13px 33px;
    text-align: center;
}

.first-name-female:hover {
	background-color:rgb(255, 201, 101);
}
.last-name {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: orange;
    cursor:pointer;
    padding:13px 33px;
    text-align: center;
}

.last-name:hover {
	background-color:rgb(255, 201, 101);
}
/*output name text*/
.name-block {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.made-by {
    display: flex;
    justify-content: center;
    color: white;
}