body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/home/cody/Pictures/middle-ages-ga1906eb99_1920.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/*heading*/
h1 {
    display: flex;
    justify-content: center;
    margin: 50px;
}
/*the app container*/
.container {
    background-image: url(/home/cody/Pictures/istockphoto-1051635112-612x612.jpg);
    border: 3px solid black;
    background-size: cover;
    margin: auto;
    box-shadow: 0px 0px 66px 16px rgba(0, 204, 255, 0.75);
    width: min(70%, 500px);
    height: 500px;
    margin-top: 100px;
}
/*buttons that create names*/
.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.first-name {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.first-name:hover {
	background-color:#eb958f;
}
.last-name {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin-top: 10px;
    margin-bottom: 50px;
}

.last-name:hover {
	background-color:#eb958f;
}
/*output name text*/
.name-block {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.made-by {
    display: flex;
    justify-content: center;
    color: white;
}